body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004a8d;
    color: white;
    padding: 1rem;
}

.search-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-container .search-input,
.search-container .search-button {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.search-container .search-input {
    flex-grow: 1;
    margin-right: 1rem;
}

.search-container .search-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.breadcrumbs {
    padding: 1rem;
    background-color: #e9ecef;
}

.breadcrumbs a {
    color: #004a8d;
    text-decoration: none;
}

.breadcrumbs span {
    margin: 0 0.5rem;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.filter-container select {
    padding: 0.5rem;
    margin-right: 1rem;
}

.heading-bar {
    text-align: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.heading-bar h1 {
    margin: 0;
    font-size: 2rem;
}

.breadcrumbs-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #e9ecef;
}

.breadcrumbs {
    margin: 0; /* Adjust as needed */
}

.login-button button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.form-group {
    text-align: center; /* Center the contents of form-group */
}

.form-group input {
    width: 300px; /* Adjust width as needed */
    margin: 10px auto; /* Center horizontally with margin */
}

.form-group label {
    display: block; /* Ensure labels are on top of inputs */
    margin-bottom: 5px; /* Space between label and input */
}

.login-title {
    font-size: 30px; /* Adjust size as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
  }